.classpath
.project
.gradle/*
.gitignore.swp
.settings/*
.idea/*
build/*
bin/*
out/*

rest-docs/.*
rest-docs/build/*

rest-docs-raml/.*
rest-docs-raml/build/*
rest-docs-raml/out/*
rest-docs-raml/classes/*
